body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border: 2px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

#terminal {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 20px;
    overflow-y: auto;
}

#output {
    flex: 1;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 24px;
    line-height: 1.5;
}

#input {
    border: none;
    padding: 25px;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    background-color: #222222;
    color: #ffffff;
    outline: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 500px);
    max-width: 100%;
    display: block;
}

#map {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 400px;
    height: 400px;
    background-color: #333333;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map h3 {
    margin: 0;
    font-size: 23px;
    font-family: 'Roboto Mono', monospace;
}

#map-canvas {
    width: 380px;
    height: 380px;
    background-color: #000000;
}

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    #game-container {
        width: 100%;
        height: 100%;
    }

    #input {
        position: static;
        width: 100%;
        padding: 18px;
        margin-top: 10px;
        font-size: 20px;
    }

    #map {
        position: static;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    #map-canvas {
        width: 100%;
        height: auto;
    }
}
